* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 40px auto 0;
}

.Display {
  background-color: grey;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  text-align: right;
  height: 100px;
  padding: 20px;
}

.row {
  display: flex;
  height: 100px;
}

.Button {
  width: 25%;
  font-size: 3.5rem;
  border-top: none;
  border-left: none;
  border-right: 1px solid;
  border-bottom: 1px solid;
  outline: none;
  cursor: pointer;
  &:first-child {
    border-left: 1px solid;
  }
  &:active {
    background-color: darkgray;
  }
}

.doubleButton {
  width: 50%;
}

.orangeKey {
  background-color: orange;
  &:active {
    background-color: darkgoldenrod;
  }
}
